<template>
  <klab-map-view></klab-map-view>
</template>

<script>
import KlabMapView from '../../components/KlabMapView.vue'

export default {
  components: {KlabMapView},
  name: 'buttons'
}
</script>
