<template>
  <footer class="app-footer">
    &copy;2017 Integrated Modelling Partnership
    <span class="float-right">Powered by <a href="http://www.integratedmodelling.org">k.LAB</a></span>
  </footer>
</template>
<script>
export default {
  name: 'footer'
}
</script>
