<template>
  <div>
  </div>
</template>
<script>
import KlabMapView from './KlabMapView.vue'
export default {
  name: 'klab-data-view',
  props: {
  },
  components: {
    KlabMapView
  },
  methods: {
  }
}
</script>

<style lang="css">
</style>
