/*
  OL 4.2 map with k.LAB-friendly methods, but entirely agnostic about observations and contexts.
*/
<template>
  <div></div>
</template>

<script>
  import Map from 'ol/map'
  import View from 'ol/view'
  import Tile from 'ol/layer/tile'
  // import TileImage from 'ol/source/tileimage'
  import OSM from 'ol/source/osm'
  import prj from 'ol/proj.js'

  export default {
    name: 'klab-map-view',
    props: {
      autoCenter: Boolean,
      center: {
        type: Array,
        default: _ => [-38.5431, -3.71722]
      },
      zoom: {
        type: [Number, String],
        default: 13
      },
      nodrag: Boolean
    },
    data () {
      return {
        olmap: null
      }
    },
    mounted () {
      this.$el.style.overflow = 'hidden'
      this.olmap = new Map({
        target: this.$el,
        loadTilesWhileAnimating: true,
        layers: [
          // TODO configure from props (both layer(s) and arrangement)
          // new Tile({
          //  source: new TileImage({url: 'http://khm0.googleapis.com/kh?v=717&hl=pl&&x={x}&y={y}&z={z}'})
          // })
          // ,
          new Tile({
            source: new OSM()
          })
        ],
        // TODO props may contain initial shape, box, center or zoom level
        view: new View({
          center: prj.fromLonLat(this.center),
          zoom: this.zoom
        })
      })
      // http://openlayers.org/en/latest/apidoc/ol.Map.html#on
      this.olmap.on('moveend', ev => {
        // floating openlayer event to inside the vue's ViewModel
        const center = ev.map.getView().getCenter()
        const zoom = ev.map.getView().getZoom()
        const lonlat = prj.toLonLat(center)
        this.$emit('moveend', ev, lonlat, zoom)
      })
      this.olmap.on('pointerdrag', ev => {
        const feature = this.olmap.forEachFeatureAtPixel(ev.pixel, feature => feature)
        const center = ev.map.getView().getCenter()
        const zoom = ev.map.getView().getZoom()
        const lonlat = prj.toLonLat(center)
        this.$emit('pointerdrag', ev, lonlat, zoom, feature)
      })
      this.olmap.on('click', ev => {
        // console.log(ev.pixel)
        const feature = this.olmap.forEachFeatureAtPixel(ev.pixel, feature => feature)
        if (feature) {
          this.$emit('selfeature', feature)
        }
        this.$emit('click', ev, feature)
      })
      if (this.autoCenter) {
        this.autocenter()
      }
      if (this.nodrag) {
        this.enabledisabledragzoom()
      }
      this.$on('addmarker', m => this.olmap.addLayer(m.vectorLayer))
      this.$on('removemarker', m => this.olmap.removeLayer(m.vectorLayer))
      this.$on('addballoon', b => this.olmap.addLayer(b.vectorLayer))
      this.$on('removeballoon', b => this.olmap.removeLayer(b.vectorLayer))
      var map = this.olmap
      window.addEventListener('resize', function () {
        setTimeout(() => { map.updateSize() }, 200)
      })
    },
    watch: {
      center (val) {
        this.olmap.getView().setCenter(prj.fromLonLat(val))
      },
      autoCenter (val) {
        if (val) {
          this.autocenter()
        }
      },
      zoom: function (val) {
        console.log(val)
        this.olmap.getView().setZoom(val)
      },
      nodrag (val) {
        this.enabledisabledragzoom()
      }
    },
    methods: {
      autocenter () {
        if ('geolocation' in navigator) {
          /* geolocation is available */
          navigator.geolocation.getCurrentPosition(pos => {
            if (this.autoCenter) {
              this.setcenter([pos.coords.longitude, pos.coords.latitude])
            }
          }, (err) => {
            console.log(err)
          })
        }
      },
      setcenter (latlng) {
        this.center[0] = latlng[0]
        this.center[1] = latlng[1]
        this.olmap.getView().setCenter(prj.fromLonLat(this.center))
      },
      enabledisabledragzoom () {
        this.olmap.getInteractions().forEach(e => {
          e.setActive(!this.nodrag)
        })
      }
    }
  }
</script>

<style lang="scss">
  @import '~ol/ol.css';
</style>
