<template>
  <klab-map-view autoCenter="true" zoom="16"></klab-map-view>
</template>

<script>
import KlabMapView from '../../components/KlabMapView.vue'

export default {
  components: {KlabMapView},
  name: 'MapView'
}
</script>
